<header class="header_wrap fixed-top header_with_topbar active">
	<div class="top-header" style="">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="d-flex align-items-center justify-content-center justify-content-md-start">
						<div class="me-3">
							<div class="ddOutOfVision" id="msdrpdd20_msddHolder" style="height: 0px; overflow: hidden; position: absolute;">
								{#<select name="countries" class="custome_select" id="msdrpdd20" tabindex="-1">
									<option value="USD" data-title="USD" ng-reflect-value="USD">USD</option>
									<option value="EUR" data-title="EUR" ng-reflect-value="EUR">EUR</option>
									<option value="GBR" data-title="GBR" ng-reflect-value="GBR">GBR</option>
								</select>#}
							</div>
							<div class="dd ddcommon borderRadius" id="msdrpdd20_msdd" tabindex="0" style="width: 52px;">
								<div class="ddTitle borderRadiusTp">
									<span class="divider"></span>
									{#<span class="ddArrow arrowoff"></span>
									<span class="ddTitleText " id="msdrpdd20_title">
										<span class="ddlabel">USD</span>#}
										<span class="description" style="display: none;"></span>
									</span>
								</div>
								<input id="msdrpdd20_titleText" type="text" autocomplete="off" class="text shadow borderRadius" style="display: none;">
								<div class="ddChild ddchild_ border shadow" id="msdrpdd20_child" style="z-index: 9999; display: none; position: absolute; visibility: visible; height: 99px;">
									<ul>
										<li class="enabled _msddli_ selected" title="USD">
											<span class="ddlabel">USD</span>
											<div class="clear"></div>
										</li>
										<li class="enabled _msddli_" title="EUR">
											<span class="ddlabel">EUR</span>
											<div class="clear"></div>
										</li>
										<li class="enabled _msddli_" title="GBR">
											<span class="ddlabel">GBR</span>
											<div class="clear"></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<ul class="contact_detail text-center text-lg-start">
							<li>
								<i class="ti-mobile"></i>
								<span>
									{{app.session.get("setting").phone}}

								</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center text-md-end">
						<ul class="header_list">
							<li>
								<a href="{{ path('app_compare') }}" class="nav-link {{ app.request.get('_route') == 'app_compare' ? 'active':' ' }}">
									<i class="ti-control-shuffle"></i>
									<span>{% trans %}Compare{% endtrans %}</span>
								</a>
							</li>
							<li>
								<a href="{{ path('app_wish_list') }}" class="nav-link {{ app.request.get('_route') == 'app_wish_list' ? 'active':' ' }}">
									<i class="ti-heart"></i>
									<span>{% trans %}Wishlist{% endtrans %} </span>
								</a>
							</li>

							{% if app.user %}
								<li>
									<a href="{{ path('app_account') }}">
										<i class="ti-user"></i>
										<span>{% trans %}Account{% endtrans %}</span>
									</a>
								</li>
								<li>
									<a href="{{ path('app_logout') }}">
										<i class="ti-user"></i>
										<span>{% trans %}Logout{% endtrans %}</span>
									</a>
								</li>
							{% else %}
								<li>
									<a href="{{ path('app_login') }}">
										<i class="ti-user"></i>
										<span>{% trans %}Signin{% endtrans %}</span>
									</a>
								</li>
								<li>
									<a href="{{ path('app_register') }}">
										<i class="ti-user"></i>
										<span>{% trans %}Signup{% endtrans %}</span>
									</a>
								</li>

							{% endif %}
							{% for locale in locales %}
								{% if locale != app.request.locale %}
									<li><a href="{{ path('change_language', {'locale': locale}) }}">
										{# locale|upper #}
											<img src="{{ asset('assets/images/langues/'~locale~'.png') }}" alt="{{locale}}" style="width:25px;height: 25px; overflow: hidden;"/>
									</a></li>
								{% endif %}
							{% endfor %}
							{#<li><a href="{{ path('change_language', {'locale': 'fr'}) }}">FR</a></li>
               				 <li><a href="{{ path('change_language', {'locale': 'en'}) }}">EN</a></li>#}
							<li></li>
							<li></li>
						</ul>
						<nav>
         
        </nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom_header dark_skin main_menu_uppercase">
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<a routerlink="{{ path('app_home') }}" class="navbar-brand" ng-reflect-router-link="{{ path('app_home') }}" href="{{ path('app_home') }}">
					<h2>
						{{app.session.get("setting").websiteName}}
					</h2>
				</a>
				<button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" class="navbar-toggler collapsed">
					<span class="ion-android-menu"></span>
				</button>
				<div id="navbarSupportedContent" class="navbar-collapse justify-content-end collapse" style="">
					<ul class="navbar-nav">
						<li class="dropdown">
							<a  class="nav-link {{ app.request.get('_route') == 'app_home' ? 'active':'' }}"  href="{{ path('app_home') }}">{% trans %}Home{% endtrans %}</a>
						</li>
						<li class="dropdown">
							<a href="#" data-bs-toggle="dropdown" class="dropdown-toggle nav-link {{ app.request.get('_route') == 'app_pages' ? 'active':' ' }}" aria-expanded="false">{% trans %}Pages{% endtrans %}</a>
							<div class="dropdown-menu">
								<ul>
									{% for page in app.session.get("headerPages") %}

										<li>
											{#  /page/{{page.slug}} #}
											<a class="dropdown-item nav-link nav_item {{ app.request.get('_route') == 'app_page' and app.request.get('slug') == page.slug ? 'active' : '' }}" href="{{ path('app_page', {'slug': page.slug}) }}"> {{ (app.request.locale == "en") ?  page.titleEn :  page.title }}</a>
										</li>
									{% endfor %}

								</ul>
							</div>
						</li>
						<li class="dropdown dropdown-mega-menu">
							<a href="#" data-bs-toggle="dropdown" class="dropdown-toggle nav-link" aria-expanded="false">{% trans %}Products{% endtrans %}</a>
							<div class="dropdown-menu">
								<ul class="mega-menu d-lg-flex">

									{% for category in app.session.get('categories') %}
										<li class="mega-menu-col col-lg-3">
											<ul>
												<li class="dropdown-header"> {{ (app.request.locale == "en") ?  category.nameEn :  category.name }}
												</li>
												{# Filtrer les produits qui sont soit best_seller soit special_offer #}
												{% set filtered_products = category.products|filter(product => product.isBestSeller or product.isSpecialOffer) %}

												{# Trier les produits par date de création ou un autre critère (assurez-vous d'avoir un champ 'createdAt' ou similaire) #}
												{% set sorted_products = category.products|sort((a, b) => b.createdAt <=> a.createdAt) %}

												{# Limiter à quatre produits #}
												{% set limited_products = sorted_products|slice(0, 4) %}
												{% for brand in category.brands.values %}
													{% if brand.products.values|length >0%}
													{#{{dump(brand.products.values)}}href="{{ path('app_product_by_slug', {'slug': product.slug}) }}#}
														
													<li>
															<a class="dropdown-item nav-link nav_item 
															{{ app.request.get('_route') == 'app_shop_controller' and app.request.get('brands') == brand.id ? 'active' : '' }}"
															 href="{{ path('app_shop_controller', {'brands': brand.id}) }}">
																{{ brand.libelle  }} <b> ({{(brand.products.values|length)}})</b>
															</a>

														</li>
													{% endif %}
												{% endfor %}
												
												{#{% for product in limited_products %}#}
													{#{% if loop.index < 4 %}	{% endif %}// to limit up to 3 choice. #}
													{#<li>
															<a class="dropdown-item nav-link nav_item {{ app.request.get('_route') == 'app_product_by_slug' and app.request.get('slug') == product.slug ? 'active' : '' }}" href="{{ path('app_product_by_slug', {'slug': product.slug}) }}">
																{{ product.name }}
															</a>

														</li>
												{% endfor %}
												#}
											</ul>
										</li>
									{% endfor %}

								</ul>
								<div class="d-lg-flex menu_banners row g-3 px-3">
									{% for colection in app.session.get('megaCollections') %}

										<div class="col-sm-4">
											<div class="header-banner"><img alt="menu_banner1" src="{{ asset('assets/images/collections/'~colection.imageUrl|url_encode) }}">
												<div class="banne_info">
													<h6>{{(app.request.locale == "en") ?  colection.descriptionEn :  colection.description }}
														Off</h6>
													<h4> {{(app.request.locale == "en") ?  colection.titleEn :  colection.title }}</h4>
													<a href="{{colection.buttonLink}}">
													{{(app.request.locale == "en") ?  colection.buttonTextEn :  colection.buttonText }}
													</a>
												</div>
											</div>
										</div>
									{% endfor %}
									{# <div class="col-sm-4">
																			<div class="header-banner"><img alt="menu_banner1" src="assets/files/megaCollection/8932488097310286313588503554459963159142614451684826970123.png">
																				<div class="banne_info">
																					<h6>{% trans %}15% Off{% endtrans %}</h6>
																					<h4>{% trans %}Men's Fashion{% endtrans %}</h4>
																					<a href="http://localhost:4300/">Shop Now</a>
																				</div>
																			</div>
																		</div>
																		<div class="col-sm-4">
																			<div class="header-banner"><img alt="menu_banner1" src="assets/files/megaCollection/1412527185807988177642011518607795945067036381684827015102.png">
																				<div class="banne_info">
																					<h6>23% Off</h6>
																					<h4>Kids Fashion</h4>
																					<a href="http://localhost:4300/">Shop
																						                                                    Now</a>
																				</div>
																			</div>
																		</div> #}
								</div>
							</div>
						</li>
						<li class="dropdown dropdown-mega-menu">
							<a href="{{ path('app_shop_controller', {'brands': ''}) }}" 
							   class="nav-link nav_item {{ app.request.get('_route') == 'app_shop_controller' ? 'active' : ''}}">{% trans %}Shop{% endtrans %}</a>
						</li>
						<li>
							<a routerlink="{{ path('app_home_contact') }}" class="nav-link nav_item {{ app.request.get('_route') == 'app_home_contact' ? 'active' : ''}}"
							   ng-reflect-router-link="{{ path('app_home_contact') }}"
							   href="{{ path('app_home_contact') }}">{% trans %}Contact Us{% endtrans %}</a>
						</li>
					</ul>
				</div>
				<ul class="navbar-nav attr-nav align-items-center">
					<li>
						<a href="javascript:void(0);" class="nav-link search_trigger">
							<i class="linearicons-magnifier"></i>
						</a>
						<div class="search_wrap">
							<span class="close-search">
								<i class="ion-ios-close-empty"></i>
							</span>
							<form method="get" name="q" action="{{ path('app_search_product') }}">
							   
								<input type="text" placeholder="Search" name="q" class="form-control">
								<input type="hidden" name="t" value="{{ csrf_token('search_form') }}">
								<button type="submit" class="search_icon">
									<i class="ion-ios-search-strong"></i>
								</button>
								
							</form>
						</div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
						<div class="search_overlay"></div>
					</li>
					<li class="dropdown cart_dropdown">
						<a href="#" data-bs-toggle="dropdown" class="nav-link cart_trigger">
							<i class="linearicons-cart"></i>
							<span class="cart_count">0</span>
						</a>
						<div class="cart_box dropdown-menu dropdown-menu-right">
							<ul class="cart_list">	
							</ul>
							<div class="cart_footer">
								<p class="cart_total">
									<strong>Subtotal:</strong>
									<span class="cart_price">
										<span class="price_symbole"></span>
									</span>
									<span class= "cart_price_value">
									
									</span>
								</p>

								<p class="cart_buttons">
									<a routerlink="{{ path('app_cart') }}"
									   class="btn btn-fill-line view-cart {{ app.request.get('_route') == 'app_cart' ? 'active':' ' }}"
									ng-reflect-router-link="{{ path('app_cart') }}" href="{{ path('app_cart') }}">{% trans %}View Cart{% endtrans %}</a>
									<a routerlink="{{ path('app_checkout') }}" class="btn btn-fill-out checkout"
									ng-reflect-router-link="{{ path('app_checkout') }}" href="{{ path('app_checkout') }}">{% trans %}Checkout{% endtrans %}</a>
								</p>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
