{% extends 'base.html.twig' %}

{% block title %}RecMarket | {%trans%}Shopping Cart{%endtrans%} {% endblock %}

{% block body %}
    {# php -S 127.0.0.1:8033 -t public #}
{% set translated_page_name = 'Cart'|trans %}
{% include "page_head/page_head.html.twig" with {'page_name': translated_page_name} %}
<div class="main_content cart_content" data-cart="{{cart_json}}" data-carriers="{{carriers_json}}">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">{%trans%}Product{%endtrans%}</th>
                                    <th class="product-price">{%trans%}Price{%endtrans%}</th>
                                    <th class="product-quantity">{%trans%}Quantity{%endtrans%}</th>
                                    <th class="product-subtotal">{%trans%}Total{%endtrans%}</th>
                                    <th class="product-remove">{%trans%}Remove{%endtrans%}</th>
                                </tr>
                            </thead>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="border p-3 p-md-4 carrier_form">
                        <div class="heading_s1 mb-3">
                            <h6>{%trans%}Choose your carrier{%endtrans%}</h6>
                        </div>
                        <form action="/cart/carrier" method="post">

                            <select name="carrierId" value="{{cart.carrier.id}}" id="carrier" class="form-control">


                            </select>
                           


                        </form>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>{%trans%}Cart Totals{%endtrans%}</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">{%trans%}Cart Subtotal{%endtrans%}</td>
                                        <td class="cart_sub_total_amount">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">{%trans%}Shipping{%endtrans%}</td>
                                        <td class="cart_shipping_total_amount">{%trans%}Free Shipping{%endtrans%}</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">{%trans%}Total{%endtrans%}</td>
                                        <td class="cart_total_amount"><strong></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><a routerlink="{{ path('app_checkout') }}" class="btn btn-fill-out" ng-reflect-router-link="{{ path('app_checkout') }}"
                            href="{{ path('app_checkout') }}">{%trans%}Proceed To CheckOut{%endtrans%} </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

