{% for product in products %}
    <div class="col-md-3 col-6">
        <div class="product">
            {% if product.isNewArrival  %}
                <span class="pr_flash">New</span>
            {% endif %}
            {% if product.isSpecialOffer  %}
                <span class="pr_flash bg-danger">Hot</span>
            {% endif %}
            {% if product.isFeatured  %}
                <span class="pr_flash bg-success">Sale</span>
            {% endif %}

            <div class="product_img">
                <a href="{{ path('app_product_by_slug',{'slug':product.slug}) }}">
                     <img src="{{ product.imageUrls[0] is defined and product.imageUrls[0] is not empty ? asset('assets/images/products/' ~ product.imageUrls[0]): asset('assets/images/ui-icons_444444_256x240.png') }}"
                alt="{{ product.name}}">
                    {#
                    <img src="{{ asset('assets/images/products/2afafc7d0c4488faaeab72e67dd3ba3f145a9c61.jpg') }}" alt="product_img1">
                    #}
                </a>
                <div class="product_action_box">
                    <ul class="list_none pr_action_btn">
                        <li>
                            {# <a href="#"><i class="icon-basket-loaded"></i> Add To Cart</a> #}
                            <a href="{{ path('app_cart_add',{'productId':product.id,'count':1}) }}"
                            class="add-to-cart">
                                <i class="icon-basket-loaded"></i>
                                Add To Cart
                            </a>
                        </li>
                        <li >
                            <a href="{{ path('app_add_to_compare',{'productId':product.id}) }}" class="add-to-compare">
                                <i class="icon-shuffle"></i>
                            </a>
                            {# <a href="shop-compare.html" class="popup-ajax"><i class="icon-shuffle"></i></a> #}
                        </li>
                        <li>
                            <a href="{{ path('app_product_by_slug',{'slug':product.slug}) }}" 
                              target="_blank">{#class="popup-ajax"#}
                            <i class="icon-magnifier-add"></i>
                            </a>
                        </li>
                        <li>
                            {# <a href="#"><i class="icon-heart"></i></a> #}
                            <a href="{{ path('app_add_to_wishlist',{'productId':product.id}) }}" class="add-to-wishlist">
                                <i class="icon-heart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product_info">
                <h6 class="product_title"><a href="{{ path('app_product_by_slug',{'slug':product.slug}) }}">{{ product.name }}</a></h6>
                <div class="product_price">
                    <span class="price">{{ (product.soldePrice/100) |format_currency('EUR') }}</span>
                    <del>{{ (product.regularPrice/100) | format_currency('EUR') }}</del>
                    <div class="on_sale">
                                                <span>{{((product.regularPrice - product.soldePrice)*100/ product.regularPrice)
                                                    |number_format(2, '', ',') }}% Off</span>
                    </div>
                </div>
                <div class="rating_wrap">
                    <div class="rating">
                        <div class="product_rate" style="width:80%"></div>
                    </div>
                    <span class="rating_num">(21)</span>
                </div>
                <div class="pr_desc">
                    <p>
                        {{ product.description|raw }}
                    </p>
                </div>
                <div class="pr_switch_wrap">
                    <div class="product_color_switch">
                        <span class="active" data-color="#87554B"></span>
                        <span data-color="#333333"></span>
                        <span data-color="#DA323F"></span>
                    </div>
                </div>
                <div class="list_product_action_box">
                    <ul class="list_none pr_action_btn">
                        {# <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                                <li><a href="shop-compare.html" class="popup-ajax"><i class="icon-shuffle"></i></a></li>
                                                <li><a href="shop-quick-view.html" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>#}
                        <li>
                            <a href="{{ path('app_cart_add',{'productId':product.id,'count':1}) }}" class="add-to-cart">
                                <i class="icon-basket-loaded"></i>
                                Add To Cart
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_add_to_compare',{'productId':product.id}) }}" class="add-to-compare" >
                                <i class="icon-shuffle"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_product_by_slug',{'slug':product.slug}) }}" target="_blank">{# class="popup-ajax"#}
                            <i class="icon-magnifier-add"></i>
                            </a>
                        </li>
                        <li class="add-to-wishlist">
                            <a href="{{ path('app_add_to_wishlist',{'productId':product.id}) }}">
                                <i class="icon-heart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
